extends base

block content
    main
        .banner
            .banner-content
                h1 EventEase
                p Experience Hassle-free Events With Us

        .tab-container
            .tab.active Tab 1
            .tab Tab 2
            .tab Tab 3
            .tab Tab 4
            .tab Tab 5
            .tab Tab 6
        each event in events
            .event-card
                a(href=`/event/${event._id}`)
                    .card
                        img(src=`/image/events/${event.photo}`, alt='Image')   
                        .card-body
                            h3.card-title=`${event.title[0].toUpperCase()+event.title.slice(1)}`
                            p.time-stamp=event.start.toLocaleString('en-us',{month:'long',day:'numeric',weekday:'short',year:'numeric'})
                            p.location=`${event.venue.street},${event.venue.city},${event.venue.state}`
                            p.seats #{event.maxGuestLimit-event.usersRegistered.length} seats remaining